/* ==========================================================================
   M5 NORMALIZE
   ========================================================================== */

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: transparent;
}

input::-ms-clear,
input::-ms-reveal,
::-ms-reveal {
  display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  background: none;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

label,
button {
  -webkit-tap-highlight-color: rgba(#000, 0);
}

button,
input,
textarea {
  -webkit-appearance: none;
  font-size: 100%;
  border: 0;
  outline: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

// remove doted square on firefox v46 - v49
button:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus,
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border: 0 !important;
  outline: none !important;
}

html {
  // &.ios-browser {
  //   min-height: 100%;
  // }
  // &:not(.ios-browser) {
  //   min-height: 100vh;
  // }

  min-height: 100%;
  // min-height: -webkit-fill-available;
  font-size: 62.5%;
  position: relative;
}

body {
  width: 100%;

  &.no-transition {
    overflow: hidden;

    * {
      transition: none !important;
    }
  }

  &.remove-scroll {
    overflow: hidden;
    .p-dashboard-home {
      @supports (-webkit-touch-callout: none) {
        overflow: hidden;
      }
    }
  }

  &.remove-scroll-ios {
    overflow: hidden;

    .m-type-form-section {
      position: fixed;
      @media only screen and (max-width: 896px) {
        position: relative;
      }
    }

    @media only screen and (max-width: 767px) {
      position: fixed;
      &.store-page {
        @supports (-webkit-touch-callout: none) {
          position: relative;
          overflow-y: auto;
        }
      }
    }
  }
  &.remove-scroll-dropdown-ios {
    overflow: hidden;

    .p-dashboard-home {
      @supports (-webkit-touch-callout: none) {
        overflow: hidden;
      }
    }

    .m-type-form-section {
      position: fixed;
    }

    @media only screen and (max-width: 767px) {
      &.store-page {
        @supports (-webkit-touch-callout: none) {
          position: relative;
          overflow-y: auto;
        }
      }
    }
  }

  &.scroll-off {
    overflow: hidden;
    padding-right: 0px;
    &.popup-with-datepicker {
      overflow: auto;
    }
  }


  // hide scrollbar in windows
  &::-webkit-scrollbar { /* Chrome */
    display: none; 
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  // =========
}

a {
  color: blue;
  cursor: pointer;
  outline: 0;

  &:hover {
    color: darken(blue, 25%);
  }
}

a img {
  border: none;
}

input,
textarea {
  outline: 0;
  border-radius: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

img {
  max-width: 100%;
  font-size: 1.2rem;
}

p,
ul,
ol,
table,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

ul,
ol {
  padding: 0;
  margin: 0;

  li {
    margin: 0;
    padding: 0 0 0 12px;
  }
}

ol {
  margin-left: 22px;
  list-style-type: decimal;

  ol {
    list-style-type: lower-alpha;

    ol {
      list-style-type: decimal;

      ol {
        list-style-type: lower-alpha;

        ol {
          list-style-type: decimal;
        }
      }
    }
  }

  table {
    margin: 16px 0;
  }
}

ul {
  margin-left: 32px;
  list-style-type: square;

  li {
    padding-left: 8px;
  }

  ul {
    list-style-type: disc;

    ul {
      list-style-type: square;

      ul {
        list-style-type: disc;

        ul {
          list-style-type: square;
        }
      }
    }
  }

  table {
    margin: 16px 0;
  }
}

/*
.desktop-only {
  @include mq(1024px) {
    display: none !important;
  }
  /* ipad pro size * /
  @media screen and (max-width:1366px) and (max-height:1024px) and (orientation:landscape) {
    display: none !important;
  }
}
.mobile-only {
  /* ipad size  * /
  @media screen and (min-width:1025px) and (min-height:768px) and (orientation:landscape) {
    display: none !important;
  }
  @include mqMin(1367px) {
    display: none !important;
  }
}
*/