@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts-new/HelveticaNowText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts-new/HelveticaNowText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Now Text';
  src: url('../fonts-new/HelveticaNowText-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts-new/HelveticaNowDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}